body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

#wall {
  perspective: 500px;
  transform-style: preserve-3d;
}

.wall-segment {
  width: 50px;
  height: 200px;
  display: inline-block;
  background-color: #333;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  transform-origin: bottom;
  /* Initial rotation will be set by JavaScript */
  margin-right: -2px
}