.menuContainer {
  display: flex;
  justify-content: center;
  z-index: 2;

  margin: 1rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  height: 100%;

  padding-left: 1rem;
  padding-right: 4rem;
  gap: 1rem;

  transition: opacity 0.5s ease-out;
}

.menuInvisible {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  height: 100%;

  padding-left: 3rem;
  padding-right: 3rem;
  gap: 1rem;

  opacity: 0;
}


.card {
  text-align: center;

  padding-left: 1rem;
  padding-right: 1rem;

  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  background-color: rgba(var(--card-bg-rgb), 0.15);

  /* Floating effect */
  box-shadow: 0 10px 20px rgba(80, 80, 80, 0.2), 0 6px 6px rgba(80, 80, 80, 0.2);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
  /* Box shadow hover effect */
  box-shadow: 0 14px 28px rgba(56, 172, 255, 0.594), 0 10px 10px rgba(158, 39, 39, 0.22);
}

.card h2 {
  min-width: 100;
  opacity: 0.6;
  font-size: 2rem;
  line-height: 1.5;
  color: #7DFDFE;
  font-family: Cascadia Mono;
  transition: opacity 0.5s ease-in-out;

}

.card h2:hover {
  /* Box text hover effect */
  opacity: 1;
}
