.main {
  /* background-color: rgb(255, 255, 255); */
  overflow: hidden;
  display: block;
  min-width: 100vw;
  min-height: 100vh; 
  /* ^ vh ie viewport height */
  align-content: center;
  font-family: var(--font-mono);
}
