.grid {
  display: grid;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  grid-template-columns: repeat(8, auto);
  gap: 2rem 0;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  font-family: Cascadia Mono;
  font-size: 1rem;
}

.pop {
  font-weight: bold;
  font-family: var(--font-mono);
  font-size: x-large;
  max-width: 8ch; 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}
