.main {
  /* background-color: rgb(255, 255, 255); */
  display: block;
  position: relative;
  min-width: 100vw;
  min-height: 100vh; 
  align-content: center;
  font-family: var(--font-mono);
}

.header {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 4rem;
}

.grid {
  /* background-color: #77d9a390; */

  display: grid;
  padding-left: 5%;
  padding-right: 5%;
  grid-template-columns: repeat(3, auto);
  gap: 2rem ;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  width: 380px;
  height: auto;

  align-items: center;
  justify-content: start;

  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  font-size: 2rem;
}

.card p {
  opacity: 0.6;
  font-size: 1.3rem;
  line-height: 1.5;
  text-wrap: balance;
}
